# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environments
venv/
.env
.env.*

# Build / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & Data
data/*.json
logs/
*.log
  
# Secrets
.env
.env.local
.env.production

# IDE / Editor
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
desktop.ini
Thumbs.db

# Node
node_modules/

# Custom